<a href="https://colab.research.google.com/github/milnico/masterAI4HU/blob/main/Lezione2_Functions_esercizi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#write an empty function that print your name

In [ ]:
#write a function that accepts as argument a string and print your name

In [ ]:
#write a function that accepts as argument a real number and return three output, the number squared, on the third and on the fourth

Write a Python function to sum all the numbers in a list.

In [ ]:
def sum(numbers):
    

nums = [8, 2, 3, 0, 7,12,54]

Write a Python function to multiply all the numbers in a list.

In [ ]:
def multiply(numbers):  

nums = [8, 2, 3, 0, 7,12,54]

Write a Python program to reverse a string.

In [ ]:
def string_reverse(str1):

string_to_reverse = '1234abcd'

dcba4321


Write a Python program to count how many numbers are between two integers

In [ ]:
def func(x,y):
  count = 0
  #for,while 

  return count

val1 = 12
val2 = 134
print(func())

TypeError: ignored

Write a Python function to create and print a list where the values are the square of numbers between x = start and y = end

In [ ]:

def createList(start,end):

		
createList()

[144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529]

Write a Python function to check whether a number is even and store it in a new array.

In [ ]:
def is_even_num(l):
    
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]

[2, 4, 6, 8]

Write a Python program to count the number of even and odd numbers from a series of numbers.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9] # Declaring the tuple

Number of even numbers : 4
Number of odd numbers : 5

Write a Python program to get the Fibonacci series between 0 to 50.