<a href="https://colab.research.google.com/github/milnico/masterAI4HU/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

get the maximum from the nums lists

In [ ]:
nums = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

get the minimum from the nums lists

In [ ]:
nums = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

sum all the elements of nums using for and while

get the mean value from nums

In [ ]:
nums = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

sum only the element smaller than 1000 from nums using and
get their mean

In [ ]:
nums = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

get the mean of boys' age and get the names of the elder and the younger children in general

In [ ]:
names = ["Ezio", "Maria", "Pamela", "Carlo", "Fulvio", "Carmela", "Paola"]
age = [12, 14, 10, 9, 11, 12, 13]